///////////////////////////////////
.logo {
  height: 3.25rem;
}

////////////////////////////////
.search {
  &_input {
  }
  &_button {
  }
  &_icon {
    height: 2rem;
    width: 2rem;
  }
}

/////////////////////////////////
.user-nav {
  &_icon-box {
  }
  &_icon {
    height: 2.25rem;
    width: 2.25rem;
  }
  &_notification {
  }
  &_user {
  }
  &_user-photo {
    height: 3.75rem;
  }
  &_user-name {
  }
}
